.chat-main
  .main-header
    .main-header_left-box
      .main-header_left-box_current-group
        = @group.name
        .main-header_left-box_menber-list
          Member:
          - @group.users.each do |user|
            .main-heder_left-box_menber-list_menber
              = user.name
    .main-heder_edit-btn
      = link_to edit_group_path(@group.id) do
        Edit
  .messages
    = render @messages
    
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
